 

.fc-calendar-container {
    height: 353px;
    width: auto;
    padding: 25px;
    background: #f6f6f6;
    -webkit-box-shadow: inset 0 1px rgb(204, 204, 204); 
    -moz-box-shadow: inset 0 1px rgb(204, 204, 204);
	box-shadow: inset 0 1px rgb(204, 204, 204);
}

.fc-calendar {
	width: 100%;
	height: 90%;
}

.fc-calendar .fc-head {
	height: 30px;
	background: transparent;
    color: #FF5722;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px;
}

.fc-calendar .fc-body {
	position: relative;
	width: 100%;
	height: 100%;
	border: 1px solid #ddd;
}
.fc-calendar .fc-row {
	width: 100%;
	border-bottom: 1px solid #ddd;
}
.fc-four-rows .fc-row  {
	height: 25%;
}
.fc-five-rows .fc-row  {
	height: 20%;
}
.fc-six-rows .fc-row {
	height: 16.66%;
	height: -moz-calc(100%/6);
	height: -webkit-calc(100%/6);
	height: calc(100%/6);
}

.fc-calendar .fc-row > div,
.fc-calendar .fc-head > div {
	float: left;
	height: 100%;
	width:  14.28%; /* 100% / 7 */
	width: -moz-calc(100%/7);
	width: -webkit-calc(100%/7);
	width: calc(100%/7.01);
	position: relative;
}

/* IE 9 is rounding up the calc it seems */
.ie9 .fc-calendar .fc-row > div,
.ie9 .fc-calendar .fc-head > div {
	width:  14.2%;
}

.fc-calendar .fc-row > div {
	border-right: 1px solid #ddd;
	padding: 4px;
	overflow: hidden;
	position: relative;
}

.fc-calendar .fc-head > div {
	text-align: center;
}

.fc-calendar .fc-row > div > span.fc-date {
    position: absolute;
    width: 30px;
    height: 20px;
    top: 50%;
    left: 50%;
    text-align: center;
    margin: -10px 0 0 -15px;
    color: #686a6e;
    font-weight: 400;
    pointer-events: none;
}
.fc-calendar .fc-row > div > span.fc-weekday {
	padding-left: 5px;
	display: none;
}

.fc-calendar .fc-row > div.fc-content.fc-today{
	background: #FF5722;
}
.fc-calendar .fc-row > div.fc-content {
    background-color: #E5E5E5;
}

.fc-calendar .fc-row > div.fc-out {
	opacity: 0.6;
}

.fc-calendar .fc-row > div:last-child,
.fc-calendar .fc-head > div:last-child {
	border-right: none;
}

.fc-calendar .fc-row:last-child {
	border-bottom: none;
}
@media(max-width:1080px){
.fc-calendar-container {
    height: 332px; 
}
}
@media(max-width:480px){
.fc-calendar-container { 
    padding: 20px;
}
}
@media(max-width:320px){
.fc-calendar-container {
    height: 300px;
}
.fc-calendar .fc-row > div > span.fc-date { 
    font-size: 0.85em;
}
}